<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Details</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="details-content ion-padding">
  
  <div *ngIf="selectedData; else noData" class="details-container">
    <h2 class="details-title">Selected Record Details</h2>
    <p><strong>Year:</strong> {{ selectedData.record.year }}</p>
    <p><strong>Facility Name:</strong> {{ selectedData.record.facilityName}}</p>
    <p><strong>Facility City:</strong> {{ selectedData.record.facilityCity }}</p>
    <p><strong>Total CO2e (t):</strong> {{selectedData.record.totalCO2e | number}}</p>
    <p><strong>Reporting Amount (t):</strong> {{selectedData.record.reportingAmount}}</p>
    <p><strong>Verification Body:</strong> {{selectedData.record.verificationBody}}</p>
  </div>

  <ion-item class="message-item">
    <ion-label position="stacked">Send Message to Ontario Tab</ion-label>
    <ion-input type="text" [(ngModel)]="messageText" placeholder="Type message..."></ion-input>
  </ion-item>

  <ng-template #noData>
    <p class="no-data-text">No data received.</p>
  </ng-template>

  <ion-button expand="block" class="btn-glow" (click)="gotoTab2()">Send Message and go to Tab 2</ion-button>
  <ion-button class="btn-glow" (click)="takePhoto()">Take Photo</ion-button>
  <img *ngIf="photo" [src]="photo" />
  <app-air-quality></app-air-quality>
</ion-content>
